<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
	<form action="/login">
	  Username:<br>
	  <input type="text" name="username">
	  <br>
	  Password:<br>
	  <input type="text" name="password">
	  <br><br>
	  <input type="hidden" name="redirect" value="<%-Redirect%>">
	  <input type="submit" value="Submit">
	</form> 

  </body>
</html>
