<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

               <h1> <%- title %> </h1>
                <p><%- body %></p>

  </body>
</html>
